<div class="admin-panel">
    <!-- Sol Menü -->
    <aside class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
        <li><a >Ana Səhifə</a></li>
        <li><a (click)="goToProducts()">Məhsullar</a></li>
        <li><a (click)="goToOrders()">Sifarişlər</a></li>
        <li><a >Müştərilər</a></li>
        <li><a >Statistikalar</a></li>
        <li><a (click)="goToSettings()" >Parametrlər</a></li>
      </ul>
    </aside>
  
    <!-- Sağ Content -->
    <main class="content">
      <h1>Xoş Gəlmisiniz, Admin!</h1>
  
      <!-- Filter düymələri -->
      <div class="filter-buttons">
        <button (click)="filterData('daily')">Günlük</button>
        <button (click)="filterData('weekly')">Həftəlik</button>
        <button (click)="filterData('monthly')">Aylıq</button>
      </div>
  
      <!-- Statistikalar -->
      <div class="summary">
        <div class="card">
          <h3>Sifarişlər</h3>
          <p>{{ orders?.length }}</p>
        </div>
        <div class="card">
          <h3>Gəlir</h3>
          <p>{{ revenue }} AZN</p>
        </div>
        <div class="card">
          <h3>Məhsullar</h3>
          <p>{{ products?.length }}</p>
        </div>
      </div>
  
      <!-- Son Sifarişlər -->
      <h2>Son Sifarişlər</h2>
      <table>
        <thead>
          <tr>
            <th>Sifariş</th>
            <th>Məbləğ</th>
            <th>Tarix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <!-- Eğer 'cartItemDtos' dizisi boşsa kontrol et ve hata alma -->
            <td>{{ order.totalAmount| currency: 'AZN' : true }}</td>
            <td>{{ order.orderDate | date: 'short' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="low-stock-container">
        <h5>Sayı Azalmış Məhsullar</h5>
        <table class="low-stock-table">
          <thead>
            <tr>
              <th>Məhsul ID</th>
              <th>Adı</th>
              <th>Kateqoriya ID</th>
              <th>Sayı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of lowStockProducts">
              <td>#{{ product.id }}</td>
              <td>{{ product.name}}</td>
              <td>{{ product.categoryId}}</td>
              <td>{{ product.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
    </main>
  </div>
  