* {
  pointer-events: all;
}

html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Kateqoriyalar başlıq */
.category-title {
  margin-top: 40px;
}

.underline {
  width: 60px;
  height: 3px;
  background: red;
  margin: 5px auto 20px;
  border-radius: 3px;
}

/* Kateqoriya grid */
.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}

/* Kateqoriya kart */
.category-card {
  text-align: left;
  padding: 20px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.category-card img {
  width: 50px;
  height: 50px;
}

.category-card ul {
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}

.category-card ul li {
  font-size: 14px;
  color: gray;
  margin: 3px 0;
  cursor: pointer;

}

/* Mobil uyğunluq */
@media (max-width: 768px) {
  .category-list {
    grid-template-columns: 1fr;
  }
}

/* Footer-in səhifənin ən altına yerləşməsi üçün */
footer {
  margin-top: auto; /* Footer-i aşağıya çəkir */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative; /* Bu, footer-i səhifənin aşağısında yerləşdirmək üçündür */
  bottom: 0; /* Həmişə səhifənin altına yerləşsin */
}
