<div class="admin-panel">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
      <li><a (click)="goToHome()">Главная страница</a></li>
      <li><a (click)="goToProducts()">Продукция</a></li>
      <li><a (click)="goToOrder()">Заказы</a></li>
      <li><a (click)="goToClients()">Клиенты</a></li>
      <li><a (click)="goToCategory()">Категории</a></li>

      <!-- <li><a (click)="goToSettings()">Parametrlər</a></li> -->
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <h1>Заказы</h1>

    <!-- Arama Box -->
    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Поиск заказа..."
        (input)="filterOrders()" />
      <button (click)="filterOrders()">Поиск</button>
    </div>

    <!-- Sifarişlər siyahısı -->
    <table>
      <thead>
        <tr>
          <th>заказа ID</th>
          <th>Цена</th>
          <th>Описание</th>
          <th>Изображение</th>
          <th>Операции</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of filteredOrders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.totalAmount }} RUBL</td>
          <td *ngFor="let item of order.cartItemDtos">
            {{ item.productName }}  <!-- Ürün Adı -->
          </td>
          <td *ngFor="let item of order.cartItemDtos">
            <img [src]="item.imageUrl" alt="{{ item.productName }}" width="50" height="50" />  <!-- Ürün Görseli -->
          </td>
          <td>
            <!-- İşlemler butonu -->
            <!-- <button (click)="handleOrderOperations(order)">Əməliyyatlar</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
